<script type="text/javascript">
$(document).ready(function() {
  $(window).scroll(function() {
    if ($(this).scrollTop() >= 50) {
      // If page is scrolled more than 50px
      $("#return-to-top").fadeIn(200); // Fade in the arrow
    } else {
      $("#return-to-top").fadeOut(200); // Else fade out the arrow
    }
  });
  $("#return-to-top").click(function() {
    // When arrow is clicked
    $("body,html").animate(
      {
        scrollTop: 0 // Scroll to top of body
      },
      500
    );
  });

  $(".background-image-holder").each(function() {
    var imgSrc = $(this)
      .children("img")
      .attr("src");
    $(this).css("background", 'url("' + imgSrc + '")');
    // $(this).children('img').hide();
  });

  // Fade in background images

  setTimeout(function() {
    $(".background-image-holder").each(function() {
      $(this).addClass("fadeIn");
    });
    $(".header.fadeContent").each(function() {
      $(this).addClass("fadeIn");
    });
  }, 200);
  $(".image-slider").flexslider({
    directionNav: false
  });
});
</script>


  <div class="main-container" ng-controller='countCtrl'>
		<section class="header header-4 fullscreen">
				<div class="image-slider">
					<ul class="slides">
						<li>
							<div class="background-image-holder push-down">
								<img alt="Background image" class="background-image" src="img/hero.jpg">
							</div>
						</li>
					</ul>
				</div>
			</section>

      <section class='countdown'>
        <div class="container">
          <div class="row hero-content">
            <div class="col-sm-12 text-center">
              <div class="clockdiv">
                <div>
                  <span class="days">{{days}}</span>
                  <div class="smalltext">DAYS</div>
                </div>
                <div>
                  <span class="hours">{{hours}}</span>
                  <div class="smalltext">HRS</div>
                </div>
                <div>
                  <span class="minutes">{{minutes}}</span>
                  <div class="smalltext">MINS</div>
                </div>
                <div>
                  <span class="seconds">{{seconds}}</span>
                  <div class="smalltext">SECS</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Venue -->
      <section class="details details-5">
        <div class="container">
          <div class="row schedule">
            <img id='top-leaf' src="img/TOP-LEFT-LEAF.png" alt="">
            <div class="col-sm-12">
              <div class="text-center">
                <h2>Ceremony &amp; Reception</h2>
                <p><b>The Sunset Club</b>
                <br>Saturday, December 29th 2018
                <br>4:30PM - 11:30PM<br>
                <a href="https://www.google.com/maps/dir/47.556515,-122.2897347/1021+University+St,+Seattle,+WA+98101/@47.583891,-122.3442114,13z/data=!3m1!4b1!4m18!1m7!3m6!1s0x54906aca0c0e4c47:0xa9674acc9e5b2421!2s1021+University+St,+Seattle,+WA+98101!3b1!8m2!3d47.6110365!4d-122.327111!4m9!1m1!4e1!1m5!1m1!1s0x54906aca0c0e4c47:0xa9674acc9e5b2421!2m2!1d-122.327111!2d47.6110365!3e0" target="_blank">1021 University St<br>Seattle, WA 98101</a> <br></p>
                <b>Attire</b>
                <br>Festive cocktail attire
                <br>Wear your dancing shoes!

                <!-- <div class="info">
                  <b>Men:</b> Chinos/slacks, collared shirt (no shorts or jeans or black suits)</br>
                  <b>Ladies: </b> Dresses, skirts & blouse (no shorts or jeans or white dresses)
                </div> -->
              </div>
            </div>
            <img id='bottom-leaf' src="img/BOTTOM-RIGHT-LEAF.png" alt="">
          </div>
        </div>
      </section>

      <section class="story story-1 timeline">
        <div class="container">
          <h2 class='text-center sub-heading add-margin-top add-margin-bottom'>Timeline</h2>
          <div class="timeline-container">

            <div class="row top-row">
              <div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>Guests Arrive</h6>
                  <p>
                    4:30pm
                  </p>
                </div>
              </div>

              <div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>Ceremony</h6>
                  <p>
                    5:00pm
                  </p>
                </div>
              </div><div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>Cocktail Hour</h6>
                  <p>5:45pm</p>
                </div>
              </div><div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>Dinner</h6>
                  <p>
                    7:00pm
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>First Dance</h6>
                  <p>
                    8:15pm
                  </p>
                </div>
              </div>

              <div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>Dancing</h6>
                  <p>
                    8:30pm
                  </p>
                </div>
              </div><div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>Cake</h6>
                  <p>9:00pm</p>
                </div>
              </div><div class="col-sm-6 col-xs-6 feature col-md-3">
                <div class="timeline-wrapper">
                  <h6>Send Off</h6>
                  <p>
                    11:30pm
                  </p>
                </div>
              </div>
            </div>
            <div class="clearfix">

            </div>
          </div>
        </div>
      </section>

      <div id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
		</div>
