<ui-accordion close-others="oneAtATime">
  <section class="accom accom-2 add-padding-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2>Travel</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="travel-wrapper">
            <a href="https://goo.gl/maps/9yr5wwWgfXn">
              <img src="../img/DRIVE.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="travel-wrapper">
            <a href="https://www.expedia.com/">
              <img src="../img/FLY.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="travel-wrapper">
            <img src="../img/UBER.png" alt="">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <h2 style="margin-bottom: 10px">ACCOMMODATIONS</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 feature">
          <div class="row">
            <!-- <div class="text-center">
              <h2>Redmond</h2>
              <p>Close to the Durbins</p>
            </div> -->
            <div class="lodging-wrapper">
                <a href="https://secure3.hilton.com/en_US/hi/reservation/book.htm?execution=e1s1" target="_blank">
                  <img src="../img/hilton_seattle.jpg" alt="">
                  <h6>HILTON SEATTLE (3-star hotel)</h6>
                </a>
                <div>
                  <p class="address">1301 6th Ave</p>
                  <p class="address">Seattle, WA 98101</p>
                  <p class="address">(206) 624 - 0500</p>
                  <p>Please visit this <a href="https://secure3.hilton.com/en_US/hi/reservation/book.htm?execution=e1s1" target="_blank">booking link</a> to receive the group discount rate or call 800-445-8668 and request group code <em>SAUR18</em></p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 feature">
          <div class="row">
            <div class="lodging-wrapper">
              <a href="http://www.marriott.com/hotels/travel/bvudt-courtyard-seattle-bellevue-downtown/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">
                <img src="../img/inn_wac.jpg" alt="">
                <h6>Inn at the WAC (4-star hotel)</h6>
              </a>
              <div>
                <p class="address">1325 6th Ave</p>
                <p class="address">Seattle, WA 98101</p>
                <p class="address">(206) 464-3055</p>
                <p>Email innreservations@wac.net
                or call 800.275.3775
                and reference the Nguyen/Saur Wedding for a discounted rate</p>
              </div>
           </div>
          </div>
        </div>

        <div class="col-sm-4 feature">
          <div class="row">
            <div class="lodging-wrapper">
                <a href="http://www.westinseattle.com">
                  <img src="../img/airbnblogo.png" alt="">
                  <h6>AIRBNB</h6>
                </a>
                <p>
                  We created a <a href="https://www.airbnb.com/wishlists/338678948/join?invite_code=MKWDSYEK&inviter_id=85397775" target="_blank">list of
                  Airbnb’s</a> near the venue
                  You can update the filters (guest)</p>
                <!-- <a href="https://www.google.com/maps/dir//1900+5th+Ave,+Seattle,+WA+98101/@47.6136836,-122.3404298,17z/data=!4m16!1m7!3m6!1s0x5490154b6b527ad5:0x4bc5666dc3b9379b!2s1900+5th+Ave,+Seattle,+WA+98101!3b1!8m2!3d47.6136836!4d-122.3382411!4m7!1m0!1m5!1m1!1s0x5490154b6b527ad5:0x4bc5666dc3b9379b!2m2!1d-122.3382411!2d47.6136836">
              </a> -->
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 style="margin-bottom: 10px">Venue</h2>
          </div>
        </div>
        <div class="row">
          <div style="text-align: center" class="lodging-wrapper">
              <a href=""><img src="../img/sunset.jpg" alt=""></a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center lodging-wrapper">
            <a href="https://www.google.com/maps/dir//1021+University+St,+Seattle,+WA+98101/@47.6110152,-122.3971506,12z/data=!4m9!4m8!1m0!1m5!1m1!1s0x54906aca0c0e4c47:0xa9674acc9e5b2421!2m2!1d-122.327111!2d47.6110365!3e0" target="_blank"><p class="address venue">The Sunset Club</p></a>
            <p class="address"> 1021 University St</p>
            <p class="address">Seattle, WA 98101</p>
            <p class="text-center">Parking lot is located on the corner of Boren Ave & Seneca St</p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ui-accordion>
