<section class="registry registry-1 registry-3 overlay-light add-padding-top">

  <div class="background-image-holder">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Registry</h2>
        <p id="first">
          We appreciate you coming from far and wide to be with us on our wedding day. Your attendance is as good a gift as any. If you’d like to get us a gift, we’d love for you to make a donation to a charity closest to our hearts.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center registry">
        <h5>AIM (AGAPE INTERNATIONAL MISSIONS)</h5>
        <p>Agape International Missions (AIM) is a non-profit organization dedicated to ending human trafficking. Isaac spent 5 years in Cambodia working with AIM and opening up the AIM Employment Center. We wanted to take this opportunity to create a campaign to continue the support of this amazing organization.</p>
        <a href="https://www.giveffect.com/campaigns/8283-tracey-isaac-s-wedding-campaign" target="_blank" class="btn single-btn registry-btn">DONATE TO OUR CAMPAIGN</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center registry">
        <h5>REGISTRY</h5>
        <p>If you just can't resist getting us a gift, we have a few items online.</p>
        <a href="https://www.myregistry.com/giftlist/saurwedding" target="_blank" class="btn single-btn registry-btn">REGISTRY</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center registry">
        <h5>HONEYMOON FUND</h5>
        <p>After our wedding, the first chapter we'll write as a married couple will be on a tropical beach. We invite you to be a part of our growing story together at HoneyFund.</p>
        <a href="https://www.honeyfund.com/wedding/saurwedding" target="_blank" class="btn single-btn registry-btn">HONEYMOON FUND</a>
      </div>
    </div>
  </div>
</section>
