.registry {
  h5 {
    color: #096d65;
    margin-bottom: 10px;
  }
  p#first {
    margin-bottom: 20px;
  }
  margin: 10px 0;
  .registry-btn {
    max-width: 200px;
    padding: 0 10px;
    margin: 20px auto;
  }
}
