.single-btn {
  background: #096d65 !important;
  color: white !important;
}

.modal {
  overflow-y: scroll !important;
}

.modal-footer {
  margin-top: 20px;
}
.rsvp {
  #rsvp-line {
    border-top: 2px solid #dad9d9;
    width: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  ::-webkit-input-placeholder {
    text-transform: lowercase;
  }
  ::-moz-placeholder {
    text-transform: lowercase;
  } /* firefox 19+ */
  :-ms-input-placeholder {
    text-transform: lowercase;
  } /* ie */
  input:-moz-placeholder {
    text-transform: lowercase;
  }
  .noResults {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 25px;
    &.hideMe {
      display: none;
    }
  }
}

.partyList {
  p {
    padding: 0;
    color: #222;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
    border: 0;
    text-align: left;
    max-width: 580px;
    word-break: break-all;
    text-transform: uppercase;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 25px;
    line-height: 25px;
  }
  p {
    display: block;
    &:hover {
      background: none;
      color: #096d65;
      cursor: pointer;
    }
  }
  p.active {
    // background-color: #096d65;
    // color: white;
    box-shadow: none;
    text-decoration: underline;
    color: #096d65;
  }
}
#rsvpModal {
  .modal-title {
    text-align: center;
    font-size: 28px !important;
  }
  @media (min-width: 571px) {
    .meals {
      display: inline-block;
      margin-right: 10px;
      &.first {
        margin-top: 30px;
      }
    }
  }
  .form-section {
    .btn.active {
      background-color: #096d65;
      color: white;
    }
    margin-bottom: 20px;
  }

  .btn.dropdown-toggle {
    &:hover {
      background: none;
      color: #096d65;
    }
    margin-bottom: 10px;
  }
  .meal {
    .filter-option-inner {
      padding-left: 15px;
    }
    span {
      &.pickMeal,
      &.text {
        color: #096d65;
        text-transform: uppercase;
        font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
      }
      @media (min-width: 571px) {
        &.pickMeal {
          position: absolute;
          top: 240px;
          margin-left: 50px;
        }
      }
      &.glyphicon {
        color: #096d65;
      }
    }
  }
  form {
    position: static;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }

  .bootstrap-select {
    width: 150px;
    margin-left: 20px;
  }

  textarea {
    max-width: 500px;
    margin: 0 auto;
  }

  @media (max-width: 570px) {
    span.pickMeal {
      display: block;
    }
    textarea {
      max-width: 300px;
    }
  }
}
#searchModal {
  .modal-title {
    text-align: center;
    font-size: 28px !important;
    // font-weight: 400;
  }
  .modal-content {
    max-width: 600px;
    margin: 0 auto;
  }
  .modal-body {
    h4 {
      margin-bottom: 15px !important;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}
